.chart {
    &__heading {
        margin: 0 0 20px;
    }
    &__table {
        height: 380px;
        overflow-x: hidden;
        overflow-y: auto;
        &--empty {
            padding: 15px;
        }
    }
    &__btn {
        margin: 0 12px 12px 0!important;
        &:last-child {
            margin-right: 0!important;
        }
        &--active {
            color: white!important;
        }
    }
    &__wrap {
        margin-left: -22px!important;
        @media (max-width: 450px) {
            margin-left: -50px!important;
            margin-right: -20px!important;
        }
    }
    &__graph {
        @media (max-width: 450px) {
            height: 300px!important;
        }
    }
}